// https://github.com/vueComponent/ant-design-vue/blob/main/components/style/themes/default.less

// color
@primary-color: #4d87fc;
@primary-bg: #1d193b;

@container-bg: #f7faff;
@page-bg: #fdfeff;

// menu
@menu-dark-bg: @primary-bg;
@menu-dark-arrow-color: #fff;
@menu-dark-inline-submenu-bg: @primary-bg;
@menu-dark-highlight-color: #fff;
@menu-dark-item-active-bg: @primary-bg;
@menu-dark-item-hover-bg: transparent;
